.loading {
    font-size: 18px;    
}

.container_RequestChangeInfo {
    width: 96%;
    float: left;
}

.container_RequestChangeInfo .css-1ygcj2i-MuiTableCell-root,
.container_RequestChangeInfo .css-1ex1afd-MuiTableCell-root {
    text-align: center !important;
}

.css-1ygcj2i-MuiTableCell-root {
    font-weight: bold !important;
    color: white !important;
}


.detail-button:hover {
    background-color: rgb(240, 248, 255);
    color: black;
    cursor: pointer;
}

.sub-button {
    background-color: rgb(240, 248, 255);
    border: none;
}

.main-page {
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
}

.MuiTableCell-root.Pending {
    color: darkorange;
}

.MuiTableCell-root.Denied {
    color: red;
}

.MuiTableCell-root.Accepted {
    color: green;
}
.css-1bigob2{
    font-weight: bold !important;
    color: white !important;
}