.create_form label{
font-size: 16px;
}

.create_title {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }

  .form-label {
    display: block;
    margin-top: 15px;
  }
  
  .form-input {
    display: block;
    width: 99.2%;
    height: 80%;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .create_id_dob {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #studentid {
    width: 30%;
    margin-left: 5px;
  }

  #birthday {
    width: 30%;
    margin-left: 8px;
  }
    
  .create_bank {
    display: flex;
    justify-content: space-between;
  }
  
  #banknumber {
    width: 30%;
  }

  #bankname {
    width: 30%;
  }

  .form-success {
    color: green;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .form-error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
  }

  .create_form{
    margin-top: 10%;
    background-color: white;
    padding: 30px 50px;
  }
  .create-button-container{
    margin-top: 20px;
    display:  flex;
    justify-content: space-between ;
  }