################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FITM_BE/bin/Debug/net6.0
/FITM_BE/.vs
/FITM_BE/obj
/.vs
/node_modules