.sideBar_sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sideBar_sub-info img {
    margin-top: 15px;
    width: 45px;
}