.about-container{
    display: flex;
    height: 100vh;
    padding-top: 5vh;
    background-color: rgb(245,245,245);
}
.about-navigation{
    height: 80%;
    margin-top: 5%;
}
.about-navigation button{
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url('https://png.pngtree.com/png-clipart/20230928/ourmid/pngtree-young-man-working-and-studying-on-laptop-computer-png-image_10170726.png');
    background-size: 100%;
    border-radius: 70px;
    margin-left: 6vh;
    margin-bottom: 20px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    border: dotted 2px rgba(255, 0, 0, 0.675) ;

}
.about-content{
    width: 90%;
}