.about-container{
    display: flex;
    height: 100vh;
    padding-top: 5vh;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    left: 0;
}
.about-navigation{
    height: 80%;
    margin-top: 5%;
}
.about-navigation button{
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url('https://png.pngtree.com/png-clipart/20230928/ourmid/pngtree-young-man-working-and-studying-on-laptop-computer-png-image_10170726.png');
    background-size: 100%;
    border-radius: 70px;
    margin-left: 6vh;
    margin-bottom: 20px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    border: dotted 2px rgba(255, 0, 0, 0.675) ;

}
.about-content{
    width: 90%;
}
.had76{
    background-image: url('/public/IMG/HereWeAre/Canh-1.png');
}
.had7126{
    background-image: url('/public/IMG/HereWeAre/Tran-1.png');
}
.had7124226{
    background-image: url('/public/IMG/HereWeAre/Quyen-1.png');
}
.hsgad7126{
    background-image: url('/public/IMG/HereWeAre/Dat-1.png');
}
.hsgasad7126{
    background-image: url('/public/IMG/HereWeAre/Dung-1.png');
}
.hncsgasad7126{
    background-image: url('/public/IMG/HereWeAre/Duong-2.png');
}