.finance_table table {
    width: 100%;
    border-collapse: collapse;
  }

.finance_table:hover {
    cursor: default;
}
  
.finance_table th, td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
.finance_table thead {
    background-color: lightskyblue;
  }
  
  .finance_table tbody tr:hover {
    background-color: lightyellow;
    font-weight: bold;
  }

  .finance_table_thead {
    text-align: center;
  }

  .finance_table td {
    text-align: center;
  }