.finance_title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .finance_home {
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: lightskyblue;
  }
  
  .finance_home span {
    text-decoration: none;
    font-weight: bold;
  }
  
  .create_finance_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .finance_table table {
      width: 100%;
      border-collapse: collapse;
    }
  
  .finance_table:hover {
      cursor: default;
  }
    .finance_table tbody tr:hover {
      background-color: lightyellow;
      font-weight: bold;
    }
  
    .finance_table_thead {
      text-align: center;
    }
  
    .finance_table td {
    height: 70px;
    }
  
    .finance_create_button span {
      text-decoration: none;
      font-weight: bold;
    }
  
    .finance_create_button button {
      width: 150px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: lightskyblue;
    }

    .trash_icon {
      font-size: 25px;
    }