.income_table table {
    width: 100%;
    border-collapse: collapse;
  }

.income_table:hover {
    cursor: default;
}
  
.income_table th, td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
.income_table thead {
    background-color: lightskyblue;
  }
  
  .income_table tbody tr:hover {
    background-color: lightgreen;
    font-weight: bold;
  }
  
  .income_table_thead {
    text-align: center;
  }

  .income_table td {
    text-align: center;
  }