.outcome_table table {
    width: 100%;
    border-collapse: collapse;
  }

.outcome_table:hover {
    cursor: default;
}
  
.outcome_table th, td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
.outcome_table thead {
    background-color: lightskyblue;
  }
  
  .outcome_table tbody tr:hover {
    background-color: lightyellow;
    font-weight: bold;
  }

  .outcome_table_thead {
    text-align: center;
  }

  .outcome_table td {
    text-align: center;
  }