.create_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.amount_bill {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.amount_bill input {
    width: 200px;
}

.radio_in_out {
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.radio_in_out label {
    font-size: 18px;
}


.radio_in {
    margin-right: 10px;
    color: green;
    font-weight: bold;
}

.radio_out {
    margin-left: 10px;
    color: red;
    font-weight: bold;
}

.radio_in_label {
    margin-left: 8px;
}

.radio_out_label {
    margin-left: 8px;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
  }

  .btn_create {
    display: block;
    width: 30%;
    height: 80%;
    padding: 5px;
    font-size: 20px;
    background-color: lightskyblue;
    border: 1px solid rgb(146,191,235);
    border-radius: 4px;
    margin: 30px auto;
    font-weight: bold;
    text-decoration: none;
    color:black;
    text-align: center;
  }

  .btn_create:hover {
    background-color: #0056b3;
    color: white;
  }

  .btn_back {
    display: block;
    width: 30%;
    height: 80%;
    padding: 5px;
    font-size: 20px;
    background-color: lightskyblue;
    border: 1px solid rgb(146,191,235);
    border-radius: 4px;
    margin: 30px auto;
    font-weight: bold;
    text-decoration: none;
    color:black;
    text-align: center;
  }

  .btn_back:hover {
    background-color: #0056b3;
    color: white;
  }

  .finance_group_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .type_in label {
    font-size: 18px;
  }

  .type_in input {
    width: 100%;
    height: 40px;
  }

  .finance_form_input {
    margin-top: 25px;
  }

  .form_input {
    display: block;
    width: 99.2%;
    height: 80%;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #amount {
    width: 32%;
  }

  #billCode {
    width: 32%;
  }

  #input_amount {
margin-top: 16px;
  }

  #input_billCode {
    margin-top: 16px;
  }
