.member-profile-container{
    display: flex;
    flex-direction: column;
}
.form-control:focus {
    box-shadow: none;
    border-color: lightblue;
}

.text-right {
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
}

.profile-button {
    background: lightblue;
    box-shadow: none;
    border: none;

  }

.profile-button:hover {
    background: lightblue;
}

.profile-button:focus {
    background: lightblue;
    box-shadow: none
}

.profile-button:active {
    background: lightblue;
    box-shadow: none
}

.back:hover {
    color: lightblue;
    cursor: pointer
}

.labels {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,.5);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right:10px;
}
.backgroundTemp{
    background-color: rgba(220, 220, 220, 0.181);
    padding: 10px;
    border-radius: 3px;
}
.marginTemp{
    margin-left: 0px;
}

.add-experience:hover {
    background: lightblue;
    cursor: pointer;
    border: solid 1px lightblue;
}
.py-4{
    padding-bottom: 0 !important;
}
.sm_cl{
    gap : 20px
}

.status {
    color: green;
}

#detail_button {
    justify-content: center;
}


#detail_back {
    width: 150px !important;
}

#deactivate {
    width: 150px;
}

#activate {
    width: 150px;
}
.mbButton{
    width: 150px !important;
}
.detail_button_cover{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.main-avatar{
    width: 200px;
    height: 200px;
    background-size: 120%;
    background-position: center center;
    border-radius: 50%;
    background-image: url("C:\Users\acer\Documents\1Proj\Backend\.NET\FIT\FITM_FE\public\IMG\main_avt.png");
}