#user {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #user td, #user th {
    border: 1px solid black;
    padding: 25px;
  }
  
  #user tr:nth-child(even){background-color: lightgray;}
  
  #user tr:hover {background-color: white;}
  
  #user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 55, 73);
    color: white;
  }