.membercontainer.loading {
    font-size: 18px;
    margin-bottom: 20px;
}

.membercontainer .container_memberList {
    width: 96%;
    float: left;
}
.membercontainer{
    width: 96%;
    margin-top: 2%;
}
/* Table styles */
.membercontainer .TableContainer {
    width: 100%;
}

.membercontainer .TableHead {
    color: white !important;
    background-color: red;
    font-weight: bold;
}
.MuiTableHead-root{
    color: white !important;
    background-color: red;
    font-weight: bold ;
}
.MuiTableBody-root{
    background-color: rgb(255,255,255);
}

.membercontainer .sub-button {
    background-color: rgb(240, 248, 255);
    border: none;
}

.membercontainer .main-page {
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
}

.css-1fezx95-MuiPaper-root{
    box-shadow: none;
}