.loading {
    font-size: 18px;
    margin-bottom: 20px;
}

.container_request_detail {
    width: 96%;
    float: left;
}

/* Table styles */
.TableContainerDetail {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5%;
}

.buttons-container {
    display: flex;
    justify-content: end;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    margin-right: 10px !important;
}

.accept-button {
    background-color: green !important;
    color: white !important;
}

.deny-button {
    background-color: red !important;
    color: white !important;
}

.Pending {
    color: darkorange;
}

.Accepted {
    color: green;
}

.Denied {
    color: red;
}