.Page {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swal2-timer-progress-bar {
    background: white;
}