.choice{

    width: 100%;
    height: 50px;
    border-radius: 3px;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #696cff;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500 ;
    font-size: 0.9rem;
    margin: 5px 0 ;
  }
  .choice ion-icon{
    font-size: 1.2rem;
  }

  span , ion-icon {
    user-select: none;
  }

 .choice span {
  display: none;
 }
 .open{
  justify-content: flex-start;
  gap : 20px
 }
 .open span {
  display: block;
}
